<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="connection.url">jdbc:sqlserver://120.27.7.232:1433;DatabaseName=testb;</property>
		<property name="connection.username">testb</property>
		<property name="connection.password">hel@test2016</property>
		<!-- JDBC connection pool (use the built-in) Hibernate自带的连接池，一般不用，注释掉！ -->
		<!-- <property name="connection.pool_size">1</property> -->
		<!-- SQL dialect（方言）用于指定何种数据库，可以在Hibernate的文档中查到 -->
		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
		<!-- Enable Hibernate's automatic session context management -->
		<!-- <property name="current_session_context_class">thread</property> -->
		<!-- Disable the second-level cache 二级缓存，优化Hibernate时再说！ -->
		<!--  <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>--> 
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="myeclipse.connection.profile">msdriver</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="me.groupb.model.User" />
		<mapping class="me.groupb.model.User_Info" />
		<mapping class="me.groupb.model.Device_Info" />
		<mapping class="me.groupb.model.Device_Type" />
		<mapping class="me.groupb.model.Record_BloodPressure" />
		<mapping class="me.groupb.model.User_Device_Relation" />
	</session-factory>
</hibernate-configuration>